* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_div {
  width: 100%;
  height: 100vh;
  /* background: #6983aa; */
  background: linear-gradient(
    rgba(0, 21, 255, 0.378),
    rgba(255, 0, 149, 0.474)
  );
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center_div {
  width: 25%;
  height: 70vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgb(0, 0, 0, 0.9);
  border-radius: 15px;
}

h1 {
  color: white;
  background: transparent;
  background-color: #8566aa;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.345);
}

input {
  text-align: center;
  height: 30px;
  top: 10px;
  margin-left: 30px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 700;
  width: 60%;
  border-bottom: 2px solid #8566aa;
  outline: none;
}

button {
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #8566aa;
  color: white;
  font-size: 40px;
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #20bf6b;
}

ol {
  margin-top: 30px;
}

ol li {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #8566aa;
  text-transform: capitalize;
}

.todo_style {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.todo_style i {
  color: #8566aa;
  margin: 0 15px 0 35px;
  font-size: 25px;
}

.todo_style i:hover {
  color: crimson;
}
